# Server Configuration
PORT=3000

# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/BookingDB"

# JWT Secrets
ACCESS_TOKEN_SECRET="your_super_secret_access_token_string"
REFRESH_TOKEN_SECRET="your_super_secret_refresh_token_string"

# Email Configuration
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER="your_email_username"
SMTP_PASS="your_email_password"